<div class="hero"> 
    <p-card class="card_login" header="Inicio de sesión">
        <div class="flex flex-column gap-2">

            <span class="p-float-label">
                <input class="form-input" pInputText id="email" aria-describedby="email-help" [(ngModel)]="login.usuario" type="email" name="email" />
                <label for="email">Correo Electronico</label>
            </span>
            
            <span class="p-float-label">
                <p-password class="contra" [(ngModel)]="login.contrasenia" [feedback]="false" [toggleMask]="true"></p-password>
                <label for="password">Contraseña</label>
            </span>
        </div>
        <div class="container">
            <div class="row loginRow">
                <div class="col-sm-12 col-md-12">
                    <p-button label="Iniciar" [rounded]="true" severity="Iniciar" (click)="iniciarSesion()" [disabled]="validarFormularioLogin"></p-button>
                </div>
                <div class="col-sm-12 col-md-12">
                    <a class="password-recovery-link" href="#">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
    
    </p-card>      
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>

    <div class="sidebar-container">
        <div class="sidebar-body">
            <p-sidebar [(visible)]="registroVisible" [fullScreen]="true">
                <p-card class="card_register" header="Registro de usuario">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="flex flex-column gap-2">
                                    <span class="p-float-label">
                                        <input class="form-input" pInputText id="username" aria-describedby="username-help" [(ngModel)]="register.nombre" type="email" name="text" />
                                        <label for="nombre">Nombre</label>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <span class="p-float-label">
                                    <input class="form-input" pInputText id="patermo" aria-describedby="patermo-help" [(ngModel)]="register.ap_paterno" type="text" name="paterno" />
                                    <label for="paterno">Apellido Paterno</label>
                                </span>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <span class="p-float-label">
                                    <input class="form-input" pInputText id="materno" aria-describedby="materno-help" [(ngModel)]="register.ap_materno" type="text" name="materno" />
                                    <label for="materno">Apellido Materno</label>
                                </span>
                            </div>
                        </div>
                        <p-divider></p-divider>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="flex flex-column gap-2">
                                    <span class="p-float-label">
                                        <input class="form-input" pInputText id="email" aria-describedby="email-help" [(ngModel)]="register.correo" type="email" name="email" />
                                        <label for="email">Correo Electronico</label>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <span class="p-float-label">
                                    <p-password class="contra" [(ngModel)]="register.contrasenia" [feedback]="true" [toggleMask]="true" pTooltip="La contraseña debe contener al menos una mayuscula, una minuscula, un numero y tener mas de 7 caracteres" tooltipPosition="right" ></p-password>
                                    <label for="password">Contraseña</label>
                                </span>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <span class="p-float-label">
                                    <p-password class="contra" [(ngModel)]="register.confirmarContrasenia" [feedback]="false" [toggleMask]="true"></p-password>
                                    <label for="password">Confirmar Contraseña</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row loginRow">
                            <div class="col-sm-12 col-md-12">
                                <p-button label="Registrar" [rounded]="true" severity="Registrar" (click)="registrarUsuario()"></p-button>        
                            </div>
                        </div>
                    </div>
                    <!-- INICIA CAPTACHA -->
                    <div class="container">
                        <div class="row">
                            <div >
                              <p >Ejemplo de ejecución HttpClient(asincrona) de google recaptcha
                              </p><button (click)="getInfoRecaptcha()" class="btn btn-primary">
                              Comprobación</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="presionado == true">
                      <p>Cargando ...</p>
                    </div>
                     
                    <div *ngIf="robot == true">
                        <p>De momento eres un robot, presiona el botón</p>
                    </div>
                    <div *ngIf="robot == false">
                        <p>No eres un robot, Enhorabuena </p>
                    </div>
                    <!-- TERMINA CAPTCHA -->
                </p-card> 
            </p-sidebar>
        </div>
    </div>
  <div class="phone-ring-animation">
    <div class="wrapper">
        <button icon="pi pi-user-plus" (click)="registroVisible = true" >
            Registrar
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
</div>
</div>
<p-toast></p-toast>
